body {
  font-family: arial;
  float: left;
}

img {
  width: 600px;
  height: 300px;
}

.imgUsu {
  width: 30px;
	height: 20px;
	float: right;
  padding-top: 20px;
  padding-left: 14px;
}

.menu {
  font-weight: 600;
  list-style: none;
  padding: 0;
  background: #646666;
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 35px;

}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a:hover {
  background: #548fef;
}

h2 {
  font-family: Arial;

}

h3{
	font-family: Arial;
	text-align:center;
  padding-left: 14px;
}

h4 {
	font-family: Arial;
	text-align: right;
  padding-left: 14px;
}


label {
  font-family: Arial;
  font-size: 15px;
  font-weight: 600;
}

textarea {
  width: 600px;
  height: 100px;
  border: 2px solid #030303;
  font-size: 10pt;
}

.labelCuando {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

#divI{
  float: left;
 
 }
 
 #divD{
     float: right;
     width: 300px; 
     display: flex;
     
 }
 
 #divDD{
   float: right;
   width: 200px;  
   padding: auto;
 }

 #divRuta{
  text-align: left;
}
button {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0f9216;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
  float: right;

}