/*body {
	font-family: arial;
	float: left;
	break-before: auto;

}

img {

	width: 600px;
	height: 300px;

}


.menu {
	font-weight: 600;
	list-style: none;
	padding: 0;
	background: #646666;
	width: 90%;
	max-width: 500px;
	margin: auto;
	text-align: center;
	border-radius: 35px;

}

.menu li a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li {
	display: inline-block;
	text-align: center;
}

.menu li a:hover {
	background: #548fef;
}

h2 {
	font-family: Arial;

}

h3 {
	font-family: Arial;
	text-align: center;
	padding-left: 14px;
}

h4 {
	font-family: Arial;
	text-align: right;
	padding-left: 14px;
}

label {
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
}



input {
	border: black 1px solid;
	size: 30px;
	font-size: 15pt;
}


textarea {
	width: 800px;
	height: 100px;
	border: 2px solid #030303;
	font-size: 10pt;
}

button {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	color: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0f9216;
	border-color: #d8d8d8;
	border-width: 3px;
	border-style: solid;
	border-radius: 35px;
	float: right;

}*/

.FuenteGrande{
	font-size: x-large;
	color: black;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
  
  }
  
  .FuentePeque{
	font-size: large;
	color: black;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
  }
  
  .imgUsu {
	width: 30px;
	height: 20px;

}

.divRuta{
	text-align: left;
  }

